body {
  margin: 0;
  overflow: hidden;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #001829;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4cb5ab;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAndMoveUp 3s forwards;
}

@keyframes fadeInAndMoveUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


.text {
  font-family: 'ethnocentric', sans-serif;
  font-size: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); /* Agrega un borde al texto */
}

.small {
  font-size: 0.8em;
  margin-right: 5px;
}

.large {
  font-size: 1.2em;
}

.link {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #4cb5ab; /* Establece el color del enlace */
  cursor: pointer; /*Establece el cursor como puntero*/
}
