@font-face{
    font-family: ethnocentric;
    src: url(../assets/fonts/ethnocentric.otf)
}
/* Logo.css */
.logo-text {
    font-family: 'ethnocentric';
  }
  
  .white-text {
    fill: white;
  }
  
  .blue-text {
    fill: blue;
  }
  