/* Importación de fuentes */
@font-face {
    font-family: 'Gobold';
    src: url('../assets/fonts/Gobold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/fonts/ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Reset y estilos base para listas y enlaces */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 5px;
}

a {
    color: #4CB5AB;
    text-decoration: none;
    margin-right: 1rem;
}

/* Estilos específicos del Navbar */
.NavContainer {
    position: initial;
    top: 0;
    width: 100%;
    padding: 0.4rem;
    background-color: #001f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.Logo {
    margin-left: 20px;
    margin-right: 50px;
    font-weight: 400;
    font-family: 'Ethnocentric';
    font-size: 30px;
    background: linear-gradient(35deg, #69ecdf, #31828b);
    -webkit-background-clip: text;
    background-clip: text; /* Añadido para soporte estándar */
    color: transparent; /* Ajuste para soporte estándar */
    z-index: 4;
    cursor: default; 
}

.Logo b {
    font-size: 36px;
    font-family: 'Ethnocentric';
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links, .user-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    cursor: pointer;
    margin-right: 20px; 
}

.login-button i {
    color: #4CB5AB;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .nav-content {
        justify-content: flex-end;
    }

    .links {
        display: none;
    }

    .links.active {
        display: block;
        position: fixed; /* Cambiado de 'absolute' a 'fixed' para cubrir toda la pantalla */
        top: 0; /* Ajustado para que el menú cubra desde el top */
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100vh; /* Asegura que el fondo cubra toda la altura */
        flex-direction: column; /* Cambio para organizar los enlaces verticalmente */
        align-items: center; /* Centra los enlaces horizontalmente */
        justify-content: center; /* Centra los enlaces verticalmente */
    }
}

.menu-bg {
    background-color: #001f3f;
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 9;
    visibility: hidden;
}

.menu-bg.active {
    border-radius: 0 0 80% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility:visible;
}

.links {
    opacity: 0;
    position:absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transform: translateX(100px);
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 1s ease;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.links ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links a {
    color: white;
    font-size: 2rem;
    display: block;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .links {
        position: initial;
        margin: 0;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .links a {
        font-size: 1.5rem;
        color: white;
        display: inline;
    }
}

.links.active {
    opacity: 1;
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    transform: translateY(0);
    transform: translateX(0);
    transition: opacity 0.8s ease, transform 1s ease;
}

.links.active a {
    font-size: 1.2rem;
    display: block;
    color: white;
}

.burger {
    z-index: 100;
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }
}

/* Estilos adicionales para la interacción y presentación del perfil y el menú */
.user-profile {
    position: relative;
    display: flex;
    align-items: center;
}

.user-actions img {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}

.profile-image {
    width: 50px;
    height: auto;
    border-radius: 50%; 
    cursor: pointer;
    margin-right: 20px; 
}
.profile-image:hover {
    opacity: 0.75;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #013567; 
    border: 1px solid #4CB5AB;
    border-radius: 5px;
    width: auto;
    min-width: 160px;
    box-sizing: border-box;
    z-index: 100; 
}

.dropdown-item {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: block; 
    box-sizing: border-box;
    font-family: 'Gobold';
    cursor: pointer;
    user-select: none;
}

.dropdown-item:hover {
    background-color: #31828b;
}
