/* Navbar.css */
@font-face {
    font-family: 'Gobold';
    src: url('../assets/fonts/Gobold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/fonts/ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-right: 5px;
}
h2{
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 400;
    font-family: 'Ethnocentric';
    font-size: 30px;
    background: -webkit-linear-gradient(35deg, #69ecdf, #31828b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #4cb5ab;
    z-index: 4;
    b{
        font-size: 36px;
        font-family: 'Ethnocentric';
    }
    color: #4CB5AB;
}

a{
    color: #4CB5AB;
    text-decoration: none;
    margin-right: 1rem;
}
.links{
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transform: translateY(-20px);
    transition: opacity .5s ease, transform 0.5s ease;
    border-radius: 10px;
    a{
        color: white;
        font-size: 2rem;
        display: block;
    }
    @media(min-width: 768px){
        position: initial;
        margin: 0;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        a{
            font-size: 1.5rem;
            color: white;
            display: inline;
        }
    }
}
.links.active{
    opacity: 1;
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    z-index:4;
    text-align: center;
    transform: translateY(0);

    a{
        font-size: 2rem;
        margin-top: 1rem;
        color: white;
    }
}
.burger{
    z-index: 4;
    @media(min-width: 768px){
        display: none;
    }
}