/* PostDetails.css */
.post-details-container {
  background-color: #002244; /* Un azul oscuro como fondo */
  color: white; /* Texto en blanco para contraste */
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 95%;
  max-width: 950px; /* Ajuste de ancho máximo para mantener la coherencia con Foro.css */
  text-align: left; /* Alineación de texto a la izquierda para el contenido del post */
}

.post-title {
  color: #69ecdf; /* Un color azul claro para el título del post */
  margin-bottom: 10px; /* Espacio después del título */
}

.post-metadata {
  font-size: 0.9rem; /* Tamaño de fuente más pequeño para metadatos */
  color: #ddd; /* Color de texto más tenue para metadatos */
  margin-bottom: 20px; /* Espacio después de los metadatos */
}

.post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin perder proporciones */
  border-radius: 5px;
  margin-bottom: 20px; /* Espacio después de la imagen */
}

.post-content {
  margin-bottom: 30px; /* Espacio antes de la sección de comentarios */
  font-size: 1rem; /* Tamaño de fuente para el contenido */
  color: #EEE; /* Color de texto para el contenido */
}

.comments-section {
  margin-top: 40px; /* Espacio antes de los comentarios */
}

.comment {
  background-color: #013567; /* Fondo más claro para cada comentario */
  padding: 10px;
  margin-bottom: 15px; /* Espacio entre comentarios */
  border-radius: 5px;
}

.comment-content {
  font-size: 0.95rem; /* Tamaño de fuente para el contenido del comentario */
  color: #EEE; /* Color de texto para el comentario */
  margin-bottom: 5px; /* Espacio antes del autor del comentario */
}

.comment-author {
  font-size: 0.9rem; /* Tamaño de fuente más pequeño para el autor */
  color: #BBB; /* Color de texto más tenue para el autor */
}

.comment-date {
  font-size: 0.8rem; /* Tamaño de fuente más pequeño para la fecha */
  color: #BBB; /* Color de texto más tenue para la fecha */
  text-align: right;
}

/* Añade cualquier estilo adicional que consideres necesario */
